<div class="wrapper">
  <div class="container">
    <app-primary-sidebar></app-primary-sidebar>
  </div>

<!-- Mobile screen -->
<!-- <div class="container container__sm">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-primary-bottom-nav></app-primary-bottom-nav>
</div> -->

<!-- Bigger-screen -->
<div class="container">
  <app-primary-top-nav></app-primary-top-nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <app-primary-bottom-nav></app-primary-bottom-nav>
</div>



</div>
